{% load static %}

<head>
    <title>Home</title>
</head>

{% block content %}
<section class="title_section">
    <h1>Welcome to My Personal Website</h1>
</section>

<section class="about">
    <p>Welcome to my personal website ! Here, you can learn more about me and try my CTF challenges.</p>
    <h1>About Me</h1>
    <blockquote>
        Hi, my name is Yacine SABRI, and I’m a student at 42 Perpignan. I completed the program in December and am currently working on various projects, including this one.
        To share a bit about myself, I’ve never been particularly interested in development or anything related to it before. I’ve always been a gamer, but not the kind of genius who hacks their console.
        After completing a basic education, I pursued law studies at university. However, I didn’t obtain my law degree and decided to stop, as I was searching for a path that suited me.
        After some time, I discovered the 42 school, decided to give it a try, and found it to be an incredibly rewarding experience. It introduced me to a new way of learning and practicing, and I’ve truly made it my own.
        While at school, I developed an interest in cybersecurity, and I now aspire to make it my career. I created this website as a way to explore different aspects of cybersecurity.
    </blockquote>
</section>
{% endblock %}